<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.studyfriendapp">

    <application
        android:allowBackup="true"
        android:icon="@drawable/icono_agenda"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme_3">

        <activity android:name=".Activities.details_events" />
        <activity android:name=".Activities.activity_add_tareas" />
        <activity android:name=".Activities.activity_add_examen" />
        <activity android:name=".Activities.activity_add_class" />
        <activity android:name=".Activities.activity_add_event" />
        <activity android:name=".Activities.menu_items" />
        <activity android:name=".Activities.Agenda" />
        <activity android:name=".Activities.activity_profesores" />
        <activity android:name=".Activities.add_Profesor" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>